#botao {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#caixaDeTexto {
    font-size: 18px;
    margin-top: 20px;
}

#botao-new {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#caixaDeTexto-new {
    font-size: 18px;
    margin-top: 20px;
}

#botao-old {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#caixaDeTexto-old {
    font-size: 18px;
    margin-top: 20px;
}

#botao-log {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#caixaDeTexto-log {
    font-size: 18px;
    margin-top: 20px;
}

